@charset "utf-8";
div {
	outline-style: solid;
	outline-colour: black;
	float: left;
}

.column1 {
	height: 80vh;
	width: calc(100%/4);
	background-image: url("Background1.png");
	background-repeat: repeat;
	background-position: right bottom;
}

.column2 {
	height: 80vh;
	width: calc(100%/2);
	background-image: url("Background2.png");
	background-repeat: repeat-x;
	background-color: #eff4f5;
	
}
button{
padding: 15px ;
text-align:left;
font-size:16px;
width:360px;
}
img{
	 display: block;
    margin: auto;
    width: auto;
}

.column3 {
	height: 40vh;
	width: calc(100%/4);
	/* background-image: url();
	background-repeat: repeat;
	background-position: right bottom;
	*/
}
.column4 {
	height: 40vh;
	width: calc(100%/4);
}
.row1 {
	height: 7.5vh;
	width: 100%;
}

.row2 {
	height: 12.5vh;
	width: 100%;
}

body {
	margin: 0;
}